body{
background:#fff0f5;
text-align:center;
font-family:Arial;
margin:0;
padding:30px;
}

h1{
color:#ff3366;
font-size:40px;
}

button{
background:#ff3366;
color:white;
padding:15px 25px;
border:none;
border-radius:25px;
font-size:18px;
}

#gift{
display:none;
}

img{
width:220px;
border-radius:15px;
margin:10px;
}
